---
- name: Install nsupdate which is used by the certbot auth-hook
  ansible.builtin.apt:
    pkg: dnsutils
    state: present
    cache_valid_time: 600
  when:
    - letsencrypt_cert is defined
    - letsencrypt_cert.challenge | default('') == 'dns'

- name: Install Let's Encrypt Certbot client
  become: true
  become_user: root
  ansible.builtin.apt:
    pkg: certbot
    state: present
    cache_valid_time: 600

- name: Install certbot plugin 'apache' on webservers
  ansible.builtin.apt:
    pkg: python3-certbot-apache
    state: present
    cache_valid_time: 600
  when:
    - letsencrypt_cert is defined
    - letsencrypt_cert.challenge | default('') == 'http'
    - letsencrypt_http_auth == 'apache'
